header,footer{
    text-align: center;
    background-color:darkolivegreen;
    color: white;
    height: 120px;
}
#content{
    background-color: lightgray;
    flex:4;
}
#side{
    background-color:wheat;
    flex:1;
    
}
section{
    display:flex;
    height: 300px;
}